<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Allowance Task</h3>
    </div>
    <div class="panel-body">
        @if (ViewBag.User != null && ViewBag.User.AllowanceTasks != null && ViewBag.User.AllowanceTasks.Count > 0)
        {
            var tasks = (ICollection<AllowanceTask>)ViewBag.User.AllowanceTasks;
            var task = tasks.First();
            <dl class="dl-horizontal">
                <dt>@task.Title</dt>
                <dd>@task.Reward</dd>
            </dl>
            <table id="allowanceDays" class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Sun</th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                    </tr>
                    <tr>
                        @foreach (var day in task.WeekDays)
                        {
                            <td data-id="@task.Id" data-day="@day">
                                @(task.ToDaysCompleted().Contains(day) ? "X" : "")
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
            <a asp-action="Edit" asp-controller="AllowanceTasks" asp-route-id="@task.Id" class="btn btn-default">Edit</a>
        }
        else
        {
            <a asp-action="Create" asp-controller="AllowanceTasks" class="btn btn-default">Add</a>
        }
    </div>
</div>