@model IEnumerable<Entry>

@{
    ViewData["Title"] = "Entries";
}

<h2>
    @ViewData["Title"]
    <a class="btn btn-primary btn-sm" asp-action="Create">New Entry</a>
</h2>

<div class="row">
    <div class="col-md-6">
        @Html.Partial("_SearchForm")
    </div>
    <div class="col-md-6">
        @Html.Partial("_BalancePanel")
        @Html.Partial("_AllowancePanel")
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Payee</th>
            <th>Category</th>
            <th>Notes</th>
            <th>Price</th>
            <th>Entry Date</th>
            <th>User</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Payee
            </td>
            <td>
                @item.Category
            </td>
            <td>
                @item.Notes
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.EntryDate.ToString("yyyy-MM-dd")
            </td>
            <td>
                @item.User.UserName
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
